.space-top-bottom{
    padding-top: 30px;
    padding-bottom: 30px;
}

h1{
    color: #3f3a64;
}

.content-position{
    padding-top: 100px;
    padding-right: 40px;
    padding-left: 30px;
}

.button-page{
  text-decoration: none;
  color: white;
  background-color: #20ad96;
  padding: 10px 18px;
  border-radius: 5px;
}

.card-style{
    border: none;
}
